<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">
    <Icon Name="IconName.Plus"></Icon>Add Item Category
</Button>
<EditForm Model="ItemCategoryModel" OnValidSubmit="@OnValidFormSubmit">
    <Modal @ref="Modal" Title="Add Item Category" UseStaticBackdrop="true" ShowCloseButton="false"
        ModalType="ModalType.Primary">
        <BodyTemplate>
            <div class="vstack">
                <div>
                    <DataAnnotationsValidator />
                    <div class="vstack">
                        <div>
                            <label class="form-label" for="name">Category Name</label>
                            <InputText class="form-control" id="name" @bind-Value="ItemCategoryModel.Name" />
                            <ValidationMessage For="@(() => ItemCategoryModel.Name)" />
                        </div>
                    </div>
                </div>
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick" Disabled="IsSaving">Close</Button>
            <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" Loading="IsSaving" Disabled="IsSaving"
                LoadingText="Saving...">Add</Button>
        </FooterTemplate>
    </Modal>
</EditForm>