@page "/items"
@using POS_Web.Components.Shared

<div class="container">
    <div class="vstack w100">
        <h3>Item</h3>
        <NavigationLink Href="items/add" DisplayValue="Add Item" />
        @if (ListOfItems is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="table-responsive" style="height: 200px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="@ListOfItems" Context="item">
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.ItemCategory.Name</td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>